

@font-face {
	font-family: 'Trial-Regular';
	src: url( '/assets/fonts/Commons-Trial-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Trial-Italic';
	src: url( '/assets/fonts/Commons-Trial-Italic.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Soviet-Font';
	src: url( '/assets/fonts/Soviet-Font.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Trial-Bold-Italic';
	src: url( '/assets/fonts/Commons-Trial-Bold-Italic.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Trial-Light';
	src: url( '/assets/fonts/Commons-Trial-Light.otf');
	font-weight: normal;
}




